body {
    background: url(./assets/banner.jpg) rgba(0, 14, 15, 0.78);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #581e1e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #350909;
}

footer {

    width: 100%;
    margin: 0;
    padding: 0;
}