<div class="container">
    <h1 class="title" data-aos="fade-down-right">Habilidades</h1>
    <p data-aos="fade-down-right">Cuento con conocimientos en las siguientes tecnologías para el desarrollo Front-End
    </p>
    <div class="content">
        <div class="lenguajes" data-aos="fade-right">
            <h3 class="titleLenguajes">Lenguajes: </h3>
            <ul *ngFor="let skill of skills">
                <li *ngIf="skill.type === 'Lenguaje'">
                    <i class="fa-brands" [ngClass]="'fa-' + skill.name.toLowerCase()"></i>
                    <span *ngIf="skill.name=='SQL'" id="sql">SQL</span>
                    <progress value="{{skill.level}}" max="100"></progress>
                </li>
            </ul>
        </div>
        <div class="frameworks" data-aos="fade-left">
            <h3 class="titleFrameworks">Frameworks: </h3>
            <ul *ngFor="let skill of skills">
                <li *ngIf="skill.type === 'Framework'">
                    <i class="fa-brands" [ngClass]="'fa-' + skill.name.toLowerCase()"></i>
                    <progress value="{{skill.level}}" max="100"></progress>
                </li>
            </ul>
        </div>
    </div>
    <p>También tengo conocimientos en lenguajes tales como: Python, Dart(Flutter), C#, gestores de BD no relacionales
        como MongoDB. Conocimientos en programas de
        UX/UI: AdobeXD,
        Figma.
    </p>
</div>