*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1250px;
    margin: auto;
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    
    .content{
        display: flex;
        margin-top: 6%;
        justify-content: center;
        align-items: center;
        .information{
            padding: 20px;
            width: 70%;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
            .title {
                font-weight: 300;
                span{
                    font-weight: 600;
                    color: #922B21;
                }
                color: #F0F3F4;
                margin-bottom: 25px;
            }
            .description{
                color: #F0F3F4;
                font-size: 25px;
                font-weight: 200;
            }
        }
        .photo{
            width: 30%;
            height: 350px;
            background-image: url(../../assets/perfil.jpeg);
            background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
            background-position: center; /* Centra la imagen dentro del contenedor */
            background-repeat: no-repeat;
            border-radius: 15px;
        }
    }
    #moreInformation{
        display: flex;
        margin: 5% auto 5% auto;
        align-items: center;
        justify-content: center;
        color: #F0F3F4;
        animation: rebote-infinito 1s infinite;
    }
    .ol {
        color: #F0F3F4;
    }
}

@keyframes rebote-infinito {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
}


@keyframes giro {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(30deg);
    }
}

