* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1250px;
    margin: auto;
    font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;

    .content {
        display: flex;
        margin-top: 6%;
        justify-content: center;
        align-items: center;
        .information {
            padding: 20px;
            width: 70%;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
            .title {
                font-weight: 300;
                span {
                    font-weight: 600;
                    color: #922b21;
                }
                color: #f0f3f4;
                margin-bottom: 25px;
            }
            .description {
                color: #f0f3f4;
                font-size: 25px;
                font-weight: 200;
            }
        }
        .photo {
            width: 30%;
            height: 350px;
            background-image: url(../../assets/perfil.jpeg);
            background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
            background-position: center; /* Centra la imagen dentro del contenedor */
            background-repeat: no-repeat;
            border-radius: 15px;
        }
    }
    #moreInformation {
        display: flex;
        margin: 5% auto 3% auto;
        align-items: center;
        justify-content: center;
        color: #f0f3f4;
        animation: rebote-infinito 1s infinite;
    }
}

.proyectos {
    width: 1250px;
    margin: auto;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    .titleComponent {
        color: #f0f3f4;
        justify-content: flex-end;
        width: 100%;
        h1 {
            display: flex;
            justify-content: flex-end;
            text-align: end;
            font-weight: 600;
            padding-bottom: 2px;
            margin-bottom: 8px;
        }
        p {
            display: flex;
            justify-content: flex-end;
            text-align: end;
        }
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        .project {
            padding: 8px;
            margin: 20px auto; /* Ajusta los márgenes para permitir espacio entre los proyectos */
            width: 28%;
            height: 300px;
            background: #0000007a;
            background-blend-mode: darken;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 0px 15px 0px 15px;
            position: relative;
            transition: transform 0.3s ease;
            cursor: pointer;
            .titleProject {
                display: flex;
                color: #f0f3f4;
                font-size: 20px;
                align-content: flex-end;
                text-align: end;
                justify-content: flex-end;
                margin: 8px;
            }

            .description {
                visibility: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: justify;
                padding: 8px;
                margin-top: 10px;

                p {
                    text-align: justify;
                    margin-right: 18px;
                }
            }

            .technologies {
                position: absolute;
                bottom: 18%;
                left: 0;
                right: 0;
                color: #f0f3f4;
                font-size: 15px;
                text-align: center;
                margin: 0;
            }
            .languages {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 5%;
                left: 0;
                right: 0;
                i {
                    margin: 18px;
                    font-size: 25px;
                    color: #f0f3f4;
                    text-align: center;
                    margin: 0 10px;
                }
            }
            &:hover {
                background-color: rgba(2, 2, 2, 0.856);
                transform: translateY(-5px);
                box-shadow: 0.1px 1px 1px 2px #922a2125;
                .description {
                    visibility: visible;
                    color: #f0f3f4;
                }
            }
        }
    }
}

#btnProjects {
    margin: 0 auto 50px auto;
    position: relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    width: 14%;
    display: flex;
    text-decoration: none;
    color: #f0f3f4;
    justify-content: center;
    text-align: center;
    padding: 8px;
    margin-bottom: 30px;
    background-color: rgba(49, 49, 49, 0.37); /* Establece un color de fondo semi-transparente */
    backdrop-filter: blur(1px);
    border-radius: 5px;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #922b21; /* Color del borde inferior */
        transition: width 0.3s ease;
    }
    &:hover::after {
        width: 100%;
    }
}

.contact {
    width: 100%;
    background: #0000005b;
}

@keyframes rebote-infinito {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes giro {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(30deg);
    }
}

@media (max-width: 600px) {
    .container {
        width: 98%;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 10%;

        .information {
            width: 100%;
            transform: none;
            margin-bottom: 20px;
        }

        .photo {
            width: 95%;
            height: auto;
            max-width: 600px;
            margin-bottom: 20px;
        }
    }

    .proyectos {
        width: 100%;

        .titleComponent {
            justify-content: flex-start;

            h1 {
                text-align: start;
            }

            p {
                text-align: start;
            }
        }

        .projects {
            .project {
                width: 95%;
                margin: 20px 0;
            }
        }

        #btnProjects {
            width: 100%;
        }
    }
}
