<div class="container">
    <div class="content">
        <div class="information" id="informatio">
            <h1 class="title">Hola, me llamo <span>David Sepulveda</span> <span id="hand">👋</span></h1>
            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, debitis error.
                Illum quas ad molestias nam maxime odit architecto quae, accusamus aspernatur, esse incidunt sunt ab!
                Suscipit alias minus culpa.</p>
        </div>
        <div class="photo"></div>
    </div>
    <p id="moreInformation" justify="center">Más información 👇</p>

</div>