<section class="card">
    <div class="information">
        <p id="saludo">¡Hola! 👋</p>
        <p id="nombre">Me llamo <span>David Sepúlveda</span></p>
        <p class="description">
            Soy ingeniero de sistemas e informática, apasionado por el desarrollo web. Mi objetivo es crear
            experiencias digitales atractivas y funcionales.
        </p>
        <ul class="profiles">
            <li id="git" title="Perfil GitHub"><i class="fa fa-github"></i></li>
            <li title="Perfil Linkedin"><i class="fa fa-linkedin"></i></li>
            <li title="CV, Certificados"><i class="fa fa-file"></i></li>
        </ul>
    </div>
    <div class="photo">
        <img [src]="photoDavid" alt="Foto David Sepulveda">
    </div>
</section>



<p id="welcom">👇 Bienvenido a mi portafolio, donde podrás explorar mis proyectos 👇</p>