<div class="container" data-aos="fade-down">
    <h1 class="title">Contacto</h1>
    <p class="description">Me puedes contactar mediante los siguientes enlaces:</p>
    <div class="content">
        <div class="fila1" data-aos="fade-down-right">
            <section class="email">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:sdavidleonardo01@gmail.com" target="_blank">sdavidleonardo01@gmail.com</a>
            </section>
            <section class="phone">
                <i class="fa-brands fa-whatsapp"></i>
                <a href="https: //wa.me/573223126566" target="_blank">+57 322 312 6566</a>
            </section>
        </div>
        <div class="fila2" data-aos="fade-down-left">
            <section class="git">
                <i class="fa-brands fa-github" id="git"></i>
                <a href="https://github.com/DavidSepulvedaCh" target="_blank">DavidSepulvedaCh</a>
            </section>
            <section class="linkedin">
                <i class="fa-brands fa-linkedin" id="linkedin"></i>
                <a href="https://www.linkedin.com/in/david-leonardo-sep%C3%BAlveda-21303a255/" target="_blank">David
                    Leonardo Sepulveda</a>
            </section>
        </div>
    </div>
</div>