* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 70px auto;
    width: 1250px;
    padding: 10px;
    text-align: center;
    font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;

    .title {
        font-weight: 500;
        color: #fff;
        margin-top: 15px;
        font-size: 30px;
    }
    .description {
        color: #fff;
        margin-bottom: 35px;
    }

    .content {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;

        .fila1,
        .fila2 {
            align-items: flex-start;

            section {
                display: flex;
                align-items: center;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 20px;
                }
                i {
                    color: #fff;
                    font-size: 25px;
                    margin-right: 10px;
                }
            }
            .email,
            .phone,
            .git,
            .linkedin {
                margin-bottom: 30px;
                transition: transform 0.3s ease;
                &:hover {
                    border-bottom: 1px solid #fff;
                    transform: translateY(-3px);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    /* Estilos para pantallas menores a 600px */

    .container {
        width: 100%; /* Cambiamos el ancho a 100% */
        margin: 30px auto; /* Reducimos el margen superior */
        padding: 5px; /* Reducimos el padding */
    }

    .content {
        flex-direction: column; /* Cambiamos la dirección a columna */
        align-items: center; /* Centramos los elementos */
        margin-bottom: 20px;

        .fila1,
        .fila2 {
            width: 100%; /* Establecemos el ancho al 100% */
            align-items: center; /* Centramos los elementos verticalmente */
            margin-bottom: 20px;

            section {
                a {
                    font-size: 18px; /* Reducimos el tamaño de fuente */
                }
                i {
                    font-size: 20px; /* Reducimos el tamaño de fuente */
                }
            }
        }
    }
}
