<div class="container">
    <h1 class="title">Contacto</h1>
    <div class="formulario">
        <form action="">
            <div class="information">
                <input type="text" placeholder="Nombre" required>
                <input type="email" name="mail" id="mail" placeholder="Ingrese su correo electrónico" required>
            </div>
            <textarea name="nota" id="nota" placeholder="Ingresa tu comentario" required></textarea>
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>