* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #000000;
    width: 98%;
    padding: 10px;
    margin: auto;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    i {
        cursor: pointer;
    }

    .contacts {
        width: 100%;

        h1 {
            font-family: Consolas, Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
        }

        p {
            font-family: Consolas, Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
        }

        .contact {
            margin-top: 8px;
            width: 100%;

            i {
                color: #fff;
                font-size: 30px;
                margin-right: 15px;
            }

            #linkedin:hover {
                color: #0077b5;
            }

            #git:hover {
                color: #181717;
            }

            #whats:hover {
                color: #25d366;
            }

            #insta:hover {
                color: #c13584;
            }

            #email:hover {
                color: #d44638;
            }
        }
    }

    .techs {
        width: 98%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 20px;
        margin-bottom: 20px;
        .lenguajes {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            i {
                color: #fff;
                font-size: 30px;
                margin-right: 15px;
            }

            #sql {
                justify-content: center;
                font-family: "Open Sans", Arial, Helvetica, sans-serif;
            }
        }
    }
}

@media (max-width: 600px) {
    .container {
        width: 98%;
    }

    .contacts,
    .techs {
        width: 100%;
    }

    .contacts {
        margin-bottom: 20px;
    }

    .contact {
        width: 100%;

        i {
            margin-right: 10px;
        }
    }
}
