* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1250px;
    padding: 10px;
    margin: auto;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    i {
        cursor: pointer;
    }
    .contacts {
        width: 49%;

        h1 {
            font-family: Consolas, Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
        }
        p {
            font-family: Consolas, Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
        }

        .contact {
            margin-top: 8px;
            width: 50%;
            i {
                color: #fff;
                font-size: 30px;
                margin-right: 15px;
            }
            #linkedin:hover {
                color: #0077b5;
            }
            #git:hover {
                color: #181717;
            }
            #whats:hover {
                color: #25d366;
            }
            #insta:hover {
                color: #c13584;
            }
            #email:hover {
                color: #d44638;
            }
        }
    }

    .techs {
        width: 49%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .lenguajes {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            i {
                color: #fff;
                font-size: 30px;
                margin-right: 15px;
            }
            #sql {
                justify-content: center;
                font-family: "Open Sans", Arial, Helvetica, sans-serif;
            }
        }
    }
}
