<div class="container">
    <div class="contacts">
        <h1>David Leonardo Sepúlveda</h1>
        <p>Me pudes encontrar tambien en: </p>
        <div class="contact">
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
        </div>
    </div>
    <div class="techs">

        <div class="lenguajes">
            <i class="fa-brands fa-html5"></i>
            <i class="fa-brands fa-css3-alt"></i>
            <i class="fa-brands fa-sass"></i>
            <i class="fa-brands fa-js"></i>
            <i class="fa-brands fa-angular"></i>
            <i class="fa-solid fa-database"></i>
        </div>
    </div>
</div>