<section class="contact">
    <div class="headerContact">
        <h1 class="title">Contacto</h1>
        <p class="descriptionContact">Me puedes contactar mediante los siguientes enlaces</p>
    </div>
    <div class="content">
        <div class="fila1" data-aos="fade-down">
            <section class="email">
                <i class="fa-solid fa-envelope"></i>
                <a [href]="emailLink" target="_blank">sdavidleonardo01@gmail.com</a>
            </section>
            <section class="phone">
                <i class="fa-brands fa-whatsapp"></i>
                <a [href]="phoneNumberLink" target="_blank">+57 322 312 6566</a>
            </section>
        </div>
        <div class="fila2" data-aos="fade-down">
            <section class="git">
                <i class="fa-brands fa-github" id="git"></i>
                <a [href]="githubLink" target="_blank">DavidSepulvedaCh</a>
            </section>
            <section class="linkedin">
                <i class="fa-brands fa-linkedin" id="linkedin"></i>
                <a [href]="linkedinLink" target="_blank">David Leonardo Sepulveda</a>
            </section>
        </div>
    </div>
</section>