<div class="container">

    <div class="navBar">

        <div class="information">
            <h1 id="name">David Sepúlveda</h1>
            <p id="role">Front-End Developer <i class="fa-solid fa-code"></i></p>
        </div>

        <nav class="menu">
            <div class="items">
                <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                <a [routerLink]="['/projects']" [routerLinkActive]="['active']">Proyectos</a>
                <a [routerLink]="['/about']" [routerLinkActive]="['active']">Habilidades</a>
            </div>
            <div class="icons">
                <a href="https://github.com/DavidSepulvedaCh" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/david-leonardo-sep%C3%BAlveda-21303a255/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://upbeduco-my.sharepoint.com/:b:/g/personal/david_sepulveda_2020_upb_edu_co/EWbxinRE5vdEsfF6_AGdn3UBJBJEHggKk3zN8xFJElNmCw?e=mocjrs"
                    target="_blank">
                    <i class="fa-solid fa-file-lines"></i>
                </a>
            </div>

        </nav>
    </div>
</div>