* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 1250px;
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}

.navBar {
    margin: 3.5% auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navBar .information {
    margin: auto;
    width: 30%;
    color: #F0F3F4;
}

.navBar .information p {
    font-size: 20px;
    font-family: Consolas;
    overflow: hidden;
    white-space: nowrap;
    animation: maquina-de-escribir 4s steps(30) infinite;
}

.navBar .menu .active {
    color: #922B21;
    border-bottom: 1px solid #922B21;
}

.navBar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.navBar .menu .items {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 50px;
    margin-left: auto;
    padding: auto 5px;
    margin-right: 25px;
}

.navBar .menu .icons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 15%;
    padding: 0 20px;
    gap: 30px;
}

.navBar .menu .icons i {
    font-size: 28px;
    color: #F0F3F4;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navBar .menu .icons i:hover {
    color: #922B21;
    transform: translateY(-5px);
}

.navBar .menu a {
    flex: 0 0 auto;
    text-align: end;
    font-size: 18px;
    text-decoration: none;
    color: #F0F3F4;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navBar .menu a:hover {
    color: #922B21;
    transform: translateY(-5px);

}

@keyframes maquina-de-escribir {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}



@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .navBar {
        flex-direction: column;
    }

    .navBar .information {
        width: 100%;
        text-align: center;
    }

    .navBar .menu {
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        /* Agregado */
        align-items: center;
        /* Agregado */
    }

    .navBar .menu .items {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        gap: 20px;
    }

    .navBar .menu .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .navBar .menu .icons i {
        font-size: 24px;
    }
}